
<html>
<head>
  
<title>Check out</title>
</head>
<body>
<div class="alert alert-success" role="alert">
  Success Payment!
</div>
<button type="button" class="btn btn-dark">Home</button>
</body>
</html>